<head>
  <title>duly</title>
</head>

<body>

	<div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h1><a href="{{pathFor 'timepicker' }}" class="homeLink">Duly</a><small>An easier way to schedule interviews.</small></h1>
    </div>
  </div>
</body>

<template name="playground">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h2>Playground <small>Refresh this page for a new dataset (semi-sparse or dense)</small></h2>
        <div class="col-md-3">
          <div class="mb10"><strong>Listing all participating members ({{members.length}}):</strong></div>
          {{#each members}}
            <u>{{this.name}}</u><br>
            {{#each this.avail}}
              {{this}}<br>
            {{/each}}<br>
          {{/each}}
        </div>
        <div class="col-md-3">
          <div class="mb10"><strong>Listing all participating candidates ({{candidates.length}}):</strong></div>
          {{#each candidates}}
            <u>{{this.name}}</u><br>
            {{#each this.avail}}
              {{this}}<br>
            {{/each}}<br>
          {{/each}}
        </div>
        <div class="col-md-6">
          <div class="row">
            <p>
              <strong>Results of a random state search algorithm after 500 iterations:</strong>
            </p>
            {{#if result_random}}
            <div class="mb10">
              {{result_random.successes}} interviews created, {{result_random.failures}} interviews not found.
            </div>
            <div class="mb10">
              <i>Runtime:</i> {{result_random.runtime}} milliseconds
            </div>
            {{/if}}
            <button type="submit" class="btn btn-default mb20" id="generate_random">Generate random results</button>
          </div>
          <div class="row">
            <p>
              <strong>Results of a backtracking search algorithm:</strong>
            </p>
            {{#if result_bt}}
            <div class="mb10">
              {{result_bt.successes}} interviews created, {{result_bt.failures}} interviews not found.
            </div>
            <div class="mb10">
              <i>Runtime:</i> {{result_bt.runtime}} milliseconds
            </div>
            {{/if}}
            <button type="submit" class="btn btn-default mb25" id="generate_backtracking">Generate backtracking results</button>
          </div>
          <div class="row">
            <p>
              <strong>Results of a random restart hill climbing algorithm:</strong>
              <br>
              Please be patient, this might take a few seconds ...
            </p>
            {{#if result_hc}}
            <div class="mb10">
              {{result_hc.successes}} interviews created, {{result_hc.failures}} interviews not found.
            </div>
            <div class="mb10">
              <i>Runtime:</i> {{result_hc.runtime}} milliseconds
            </div>
            {{/if}}
            <button type="submit" class="btn btn-default mb20" id="generate_hc">Generate hill climbing results</button>
          </div>
          <div class="row">
            <p>
              <strong>Results of a simulated annealing algorithm:</strong><br>
              Please be patient, this might take a few seconds ...
            </p>
            {{#if result_sa}}
            <div class="mb10">
              {{result_sa.successes}} interviews created, {{result_sa.failures}} interviews not found.
            </div>
            <div class="mb10">
              <i>Runtime:</i> {{result_sa.runtime}} milliseconds
            </div>
            {{/if}}
            <button type="submit" class="btn btn-default mb20" id="generate_sa">Generate simulated annealing results</button>
          </div>

        </div>
    </div>
  </div>
</template>

<template name="notFound">
	<h2>Not Found</h2>
</template>

<template name="loading">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
	<h2>Loading...</h2>
    </div>
  </div>
</template>

<template name="about">
	<div class="row">
  	<div class="col-md-8 col-md-offset-1">
	About Duly
		</div>
	</div>
</template>

<template name="pollResult">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      The results of <a href="{{pathFor 'pollShow'}}">this poll</a> will be shown here.
    </div>
  </div>
  <div class="row mt10">
    <div class="col-md-2 col-md-offset-1">
      {{> members}}
    </div>
    <div class="col-md-2">
      {{> candidates}}
    </div>
    <div class="col-md-5">
      <div class="row">
        <p>
          <strong>Results of a random state search algorithm after 500 iterations:</strong>
        </p>
        <div class="mb10">
        {{#each result_random.matches}}
          {{this}}<br>
        {{/each}}
        </div>
        <div class="mb10">
          {{#each result_random.non_matches}}
            {{this}}<br>
          {{/each}}
        </div>
        <div class="mb10">
          <i>Runtime:</i> {{result_random.runtime}} milliseconds
        </div>
        <button type="submit" class="btn btn-default mb25" id="regenerate_random">Regenerate results</button>
      </div>
      <div class="row">
        <p>
          <strong>Results of a backtracking search algorithm:</strong>
        </p>
        <div class="mb10">
        {{#each result_backtracking.matches}}
          {{this}}<br>
        {{/each}}
        </div>
        <div class="mb10">
          {{#each result_backtracking.non_matches}}
            {{this}}<br>
          {{/each}}
        </div>
        <div class="mb10">
          <i>Runtime:</i> {{result_backtracking.runtime}} milliseconds
        </div>
        <button type="submit" class="btn btn-default mb25" id="regenerate_random">Regenerate results</button>
      </div>
    <div class="row">
      <p>
        <strong>Results of a random restart hill climbing algorithm:</strong><br>
        Click the button below to generate results. This might take a few seconds ...
      </p>
      {{#if result_hc}}
      <div class="mb10">
        {{#each result_hc.matches}}
          {{this}}<br>
        {{/each}}
        </div>
        <div class="mb10">
          {{#each result_hc.non_matches}}
            {{this}}<br>
          {{/each}}
        </div>
        <div class="mb10">
          <i>Runtime:</i> {{result_hc.runtime}} milliseconds
        </div>
        {{/if}}
      <button type="submit" class="btn btn-default mb25" id="regenerate_hill_climbing">Generate hill climbing results</button>
    </div>
    <div class="row">
      <p>
        <strong>Results of a simulated annealing algorithm:</strong><br>
        Click the button below to generate results. This might take a few seconds ...
      </p>
      {{#if result_sa}}
      <div class="mb10">
        {{#each result_sa.matches}}
          {{this}}<br>
        {{/each}}
        </div>
        <div class="mb10">
          {{#each result_sa.non_matches}}
            {{this}}<br>
          {{/each}}
        </div>
        <div class="mb10">
          <i>Runtime:</i> {{result_sa.runtime}} milliseconds
        </div>
        {{/if}}
      <button type="submit" class="btn btn-default mb25" id="regenerate_sim_anneal">Generate simulated annealing results</button>
    </div>
    </div>
  </div>
</template>

<template name="pollShow">
	<div class="row">
    <div class="col-md-8 col-md-offset-1">
				This poll starts on 
					<span id="startdate">{{poll.startdate}}</span>
				and ends on 
					<span id="enddate">{{poll.enddate}}</span>, 
				from 
					<span id="starttime">{{poll.starttime}}</span>
				until 
					<span id="endtime">{{poll.endtime}}</span>
				everyday. <a href="{{ pathFor 'pollResult' }}">Ready? Create interviews!</a>
    </div>
  </div>
  <div class="row mt10">
    <div class="col-md-4 col-md-offset-1">
        <strong>Join this poll</strong>
				<input type="text" class="span2 form-control mt10 mb10" id="name" placeholder="Your name" />
        <strong>Please indicate your role:</strong>
        <div class="radio">
          <label>
            <input type="radio" name="role" id="candidate" value="candidate" checked="checked">
              I am a candidate being interviewed.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="role" id="member" value="member">
            I am a member conducting interviews.
          </label>
        </div>
        <strong>Select your availability:</strong><br>
        <div class="mt5">{{> form}}</div>
        <button type="submit" class="btn btn-default" id="addavail">Submit my availability</button>
        <br>
        {{#autoForm schema="Polls" doc=this}}
          <button type="submit" class="remove linkbutton mt10">Delete this poll</button>
        {{/autoForm}}
		</div>
    <div class="col-md-3">
      {{> members}}
    </div>
    <div class="col-md-3">
      {{> candidates}}
    </div>
	</div>
</template>

<template name="members">
  <div class="mb10"><strong>Listing all participating members:</strong></div>
  {{#each members}}
    <u>{{this.name}}</u><br>
    {{#each this.avail}}
      {{this}}<br>
    {{/each}}<br>
  {{/each}}
</template>

<template name="candidates">
  <div class="mb10"><strong>Listing all participating candidates:</strong></div>
  {{#each candidates}}
    <u>{{this.name}}</u><br>
    {{#each this.avail}}
      {{this}}<br>
    {{/each}}<br>
  {{/each}}
</template>

<template name="form">
    {{#each days}}
      {{#each hours}}
        <div class="checkbox">
          <label>
            <input type="checkbox" value="{{../this}} {{this}}">
              {{../this}} {{this}}
            </input>
          </label>
        </div>
      {{/each}}
    {{/each}}
</template>

<template name="timepicker">
    <div class="row">
    <div class="col-md-8 col-md-offset-1">
      I'd like to schedule interviews during the period from 
        <input type="text" class="span2" value="today" id="dpd1" />
        until
        <input type="text" class="span2" value="" id="dpd2" />
        <br />
        <div id="time" class="mt10">
          Each day the interviews will occur from 
          <input type="text" id="from" class="time-picker" />
         until 
          <input type="text" id="until" class="time-picker" />
          <span class="ml10" id="go"><a>Go</a></span>
        </div>
        <br />
        <a href="{{ pathFor 'playground' }}">Try the playground</a>
    </div>
  </div>
  {{> polls}}
</template>

<template name="polls">
    <div class="row mt10">
    <div class="col-md-8 col-md-offset-1">
    	<h4>Listing all polls</h4>
      {{#each polls}}
        <p><a href="{{ pathFor 'pollShow' }}">{{> poll}}</a></p>
      {{/each}}
    </div>
  </div>
</template>

<template name="poll">
  Start Date: {{startdate}}, End Date: {{enddate}}, Start Time: {{starttime}}, End Time: {{endtime}}
</template>
